<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="PenaltyMultipliers" type="NaumenPenalty.Configuration.PenaltyMultiplierConfigSection,NaumenPenalty"/>
    <section name="Fees" type="NaumenPenalty.Configuration.FeeConfigSection,NaumenPenalty"/>
  </configSections>
  <!--Коэффициенты-->
  <!--RegionalMultiplier - региональный-->
  <!--EquipmentMultiplier- оснащенности-->
    <PenaltyMultipliers>
    <Multipliers>
      <add Index="656700" Description="УФПС Алтайского края" RegionalMultiplier="0.74" EquipmentMultiplier="0.5359"/>
      <add Index="672700" Description="УФПС Забайкальского края" RegionalMultiplier="1.04" EquipmentMultiplier="0.4122"/>
      <add Index="664700" Description="УФПС Иркутской области" RegionalMultiplier="1.03" EquipmentMultiplier="0.8428"/>
      <add Index="650700" Description="УФПС Кемеровской области" RegionalMultiplier="0.97" EquipmentMultiplier="0.8867"/>
      <add Index="660700" Description="УФПС Красноярского края" RegionalMultiplier="1.14" EquipmentMultiplier="0.6634"/>
      <add Index="640700" Description="УФПС Курганской области" RegionalMultiplier="0.83" EquipmentMultiplier="1.0124"/>
      <add Index="603700" Description="УФПС Нижегородской области" RegionalMultiplier="0.91" EquipmentMultiplier="0.6944"/>
      <add Index="630700" Description="УФПС Новосибирской области" RegionalMultiplier="0.95" EquipmentMultiplier="0.5772"/>
      <add Index="644700" Description="УФПС Омской области" RegionalMultiplier="0.96" EquipmentMultiplier="1.0337"/>
      <add Index="649000" Description="УФПС Республики Алтай" RegionalMultiplier="0.76" EquipmentMultiplier="0.7893"/>
      <add Index="670700" Description="УФПС Республики Бурятия" RegionalMultiplier="0.96" EquipmentMultiplier="0.3323"/>
      <add Index="667700" Description="УФПС Республики Тыва" RegionalMultiplier="0.96" EquipmentMultiplier="1.0418"/>
      <add Index="655400" Description="УФПС Республики Хакасия" RegionalMultiplier="0.97" EquipmentMultiplier="0.9904"/>
      <add Index="620700" Description="УФПС Свердловской области" RegionalMultiplier="1.01" EquipmentMultiplier="0.633"/>
      <add Index="634700" Description="УФПС Томской области" RegionalMultiplier="1.07" EquipmentMultiplier="1.2424"/>
      <add Index="625700" Description="УФПС Тюменской области" RegionalMultiplier="1.61" EquipmentMultiplier="0.5675"/>
      <add Index="628700" Description="УФПС Ханты-Мансийского автономного округа" RegionalMultiplier="1.71" EquipmentMultiplier="0.8214"/>
      <add Index="454700" Description="УФПС Челябинской области" RegionalMultiplier="0.95" EquipmentMultiplier="0.7695"/>
      <add Index="629100" Description="УФПС Ямало-Ненецкого автономного округа" RegionalMultiplier="2.08" EquipmentMultiplier="0.4861"/>
      <add Index="680000" Description="УФПС Хабаровского края" RegionalMultiplier="1.08" EquipmentMultiplier="0.7161"/>
      <add Index="101700" Description="Москва" RegionalMultiplier="0.95" EquipmentMultiplier="0.5772"/>
    </Multipliers>
  </PenaltyMultipliers>
  <!--Абонентская плата-->
  <Fees>
    <Fees>
      <add Id="101" Description="АУ филиала I категории" FeeValue="203300"/>
      <add Id="102" Description="АУ филиала II категории" FeeValue="66300"/>
      <add Id="103" Description="АУ филиала III категории" FeeValue="49100"/>
      <add Id="104" Description="АУ филиала IV категории" FeeValue="35000"/>
      <add Id="11" Description="АУ почтамта I категории" FeeValue="58650"/>
      <add Id="12" Description="АУ почтамта II категории" FeeValue="30100"/>
      <add Id="13" Description="АУ почтамта III категории" FeeValue="17900"/>
      <add Id="14" Description="АУ почтамта IV категории" FeeValue="11700"/>
      <add Id="15" Description="УКД" FeeValue="34910"/>
      <add Id="1" Description="ОПС класс 1" FeeValue="66950"/>
      <add Id="2" Description="ОПС класс 2" FeeValue="44990"/>
      <add Id="3" Description="ОПС класс 3" FeeValue="13640"/>
      <add Id="4" Description="ОПС класс 4" FeeValue="5130"/>
      <add Id="5" Description="ОПС класс 5" FeeValue="3190"/>
      <add Id="6" Description="ПОПС" FeeValue="3780"/>
    </Fees>
  </Fees>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="naumen" connectionString="server=10.7.122.210;port=5432;username=nausd40;password=nausd40;database=nausd40" providerName="Npgsql"/>
  </connectionStrings>
</configuration>
